.chat-info {
  padding: 8px 20px;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  height: 3%;
}

.chat-name {
  padding-left: 8px;
}

.channel-member {
  margin-left: auto;
}

.channel-member-logo {
  height: 24px;
  width: 24px;
}
